<div class="container">
    <h2>Waiters Available</h2>
    <div class="row">
        <h3>Colors key:</h3>
        <ul>
            <li class="col none" style="color: black;">No waiters</li>
            <li class="col success-bg">Enough waiters</li>
            <li class="col warning-bg">Waiters needed</li>
            <li class="col danger-bg">Oversubscribed</li>
        </ul>
    </div>
    <div class="message">
        <h4 class="success flash">{{messages.success}}</h4>
    </div>
    <p><em>NOTE:</em>Click on day to view the people working on that day!</p>
    <div class="row">
        {{#each weekdays}}
        <table class="col-4">
            <tr>
                <th class="{{color id}}"><a href="/days/{{week_day}}">{{week_day}}</a></th>
            </tr>
        </table>
        {{/each}}
    </div>
    <form action="/clear" method="post">
        <button class="clear-button" type="submit">CLEAR WAITERS</button>
    </form>
</div>