<div class="container">
    <h1>Waiter Availability</h1>
    <p> <em>NOTE:</em> Please enter your name on the form below to choose which days you will be working in.</p>
    <div class="message-home">
        <h4 class="danger flash">{{messages.danger}}</h4>
    </div>
    <div class="form">
        <form action="/" method="post">
            <label for="username">Username:
                <input type="text" name="username" id="username">
            </label>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</div>