<div class="container">
    <h1>Waiters Available on {{day}}</h1>
    <div class="dayspanel">
        <ul>
        {{#each waiters}}
            <li>{{this}}</li>
        {{/each}}
        {{#unless waiters}}
            <li>No waiter available</li>
        {{/unless}}
        </ul>
    </div>
</div>