/* RESET THE DOCUMENT */
body {
    margin: 0;
    padding: 0;
    background-color: #e9d8a6;
}

.message-home {
    margin-top: -2em;
    height: 3em;
}

.message {
    height: 3em;
}

.message-home, .message {
    text-decoration: wavy;
    color: white;
}

/* HOME PAGE */
.container {
    margin:  0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    display: flex;
    justify-content: center;
}

.form form {
    display: flex;
    justify-content: center;
}

/* WAITER PAGE */
.days {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-days {
    margin: 1em auto;
    width: 50%;
}

/* ADMIN PAGE */
.dayspanel {
    display: flex;
}

.dayspanel table {
    margin: 1em;
}

.clear-button {
    padding: 0.5em;
    width: 140px;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
}

tr:first-child {
    color: white;
    text-transform:lowercase;
}

.key>div {
    display: flex;
}
.key > div > div {
    color: white;
    text-align: center;
    font-weight: bold;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.success-bg {
    background-color: green;
}

.warning-bg {
    background-color: orange;
}

.danger-bg {
    background-color: red;
}

.success, .warning, .danger {
    text-align: center;
}

.none {
    background-color: white;
    color: #000;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

/* VIEW DAY PAGE */
 ul {
    padding: 0.5em;
    color: white;
    width: 100%;
}

 ul li {
    list-style: none;
    margin: 1em 0;
    padding: 0 0.3em;
}

/* NAVIGATION BAR */
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #001219;
    height: 3.5em;
}

.topnav div a {
    color: white;
}

.topnav div:first-of-type a {
    font-weight: bolder;
    font-style: italic;
}


/* custom checkbox */
input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\002723 \00a0";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}
/* end of custom checkbox */

