/* RESET THE DOCUMENT */
body {
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

.message-home {
    margin-top: -2em;
    height: 3em;
}

.message {
    height: 3em;
}

.message-home, .message {
    text-decoration: wavy;
    color: white;
}

/* HOME PAGE */
.container {
    background-color: slategray;
    /* box-shadow: white 1px 1px; */
    margin:  0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 70vh;
    z-index: 1;
}

#username {
    height: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    margin: 1em 0;
    height: 2em;
    background-color: #333;
    color: #fff;
}

/* WAITER PAGE */
.days {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-days {
    margin: 1em auto;
    width: 70%;
}

/* ADMIN PAGE */
.dayspanel {
    display: flex;
}

.dayspanel table {
    margin: 1em;
}

.clear-button {
    padding: 0.5em;
    width: 140px;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
    width: 80px;
}

tr:first-child {
    background-color: #333;
    color: white;
    text-transform:lowercase;
}

.key>div {
    display: flex;
}
.key > div > div {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
}

.success {
    background-color: green;
}

.warning {
    background-color: orange;
}

.danger {
    background-color: red;
}

.none {
    background-color: white;
    color: #000;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

/* VIEW DAY PAGE */
ul {
    background-color: white;
    color: white;
    padding: 1em;
    width: 350px;
}

ul li {
    padding: 1em;
    background-color: #333;
    list-style: none;
    margin: 1em 0;
}

ul a {
    color: white;
    text-decoration: none;
    width: 100%;
}

/* NAVIGATION BAR */
/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* custom checkbox */
input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\002723 \00a0";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}
/* end of custom checkbox */

